.piwo-wpml-switcher { position: relative; text-align: left; margin-left: 30px;
	ul {
		li { text-align: left; list-style: none; }
		a { padding: 10px 15px; }
	}
	.fa-angle-down { font-size: 11px; vertical-align: middle; }
	.sub-menu { box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);  }
}
