<div class="element">
	<div class="textarea-wrapper">
		<textarea class="input--textarea {{ input_modifier }}" id="{{ input_name }}" name="{{ input_name }}" cols="55" rows="4">
			{{ input_text }}
		</textarea>
	</div>
</div>