<ul class="list list--inline list--removeBaseStyles pagination {{ pagination_modifier ? pagination_modifier : '' }}">
	{% for page in pagination %}
		<li><a href="{{ page.url }}">{{ page.page_number }}</a></li>
	{% endfor %}
</ul>