<div class="contact-us background--dark">
    <div class="content-wrapper">
        <div class="grid-wrapper--0">
            <div class="col">
                <div class="block">
                    {% include 'block-hours.twig' %}
                </div>
            </div><!-- /col -->
            <div class="col col--xs-1of2 col--sm-1of3">
                <div class="block">
                    {% include '_headline-element.twig' with {
                        'headline_modifier' : 'text--xl',
                        'headline_text' : 'Services',
                        'headline_type' : 'h3'
                    } %}

                    {% include "_list.twig" with {
                        'listItems' : {
                            '1' : {
                                'content' : 'Physical Examinations'
                            },
                            '2' : {
                                'content' : 'Wellness Screenings'
                            },
                            '3' : {
                                'content' : 'Spay and Neuter'
                            },
                            '4' : {
                                'content' : 'Dental Healthcare'
                            },
                            '5' : {
                                'content' : 'Medication Refills'
                            }
                        },
                        'list_modifier' : '',
                        'list_type' : 'ul'
                    } %}

                    {% include '_link-element.twig' with {
                        'link_href' : '',
                        'link_modifier' : 'text--lg',
                        'link_text' : 'View all services',
                    } %}
                </div>
            </div><!-- /col -->
            <div class="col col--xs-1of2 col--sm-1of3">
                <div class="block">
                    {% include '_headline-element.twig' with {
                        'headline_modifier' : 'text--xl',
                        'headline_text' : 'Contact Us',
                        'headline_type' : 'h3'
                    } %}

                    {% include 'block-contact-us.twig' with {
                        'contact_us_modifier' : '',
                        'email' : true,
                        'headline' : '',
                        'list_modifier' : '',
                        'phone' : true,
                        'social_media' : true
                    } %}
                </div>
            </div><!-- /col -->
            <div class="col col--sm-1of3">
                <div class="block">
                    <div class="element">
                        <div class="map-wrapper">
                            <a class="map__link" href="https://goo.gl/maps/y9pYYnUhDBH2" target="_blank">{{ googleMapAddress }}</a>
                            <div class="googleMaps" id="map"></div>
                        </div>
                    </div>
                </div>
            </div><!-- /col -->
        </div><!-- /grid-wrapper--0 -->
    </div><!-- /content-wrapper -->
</div><!-- /contact-us -->