<div class="tile">
	<div class="tile__header">
	</div><!-- /tile__header -->
	
	<div class="tile__body">
	</div><!-- /tile__body -->
	
	<div class="tile__footer">
	</div><!-- /tile__footer -->
</div>